 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Incident</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Assets</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Laptops</a></li>
      <li><a class="dropdown-item" href="#">Mobiles</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul> 

<div>
  <tabset>
    <tab heading="Incident Dashboard" id="tab1">
      <div class="form-group">
        <div class="row chartDate">
          <div class="col-lg-8 mt-2 mb-2">
          <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
          </div>
          <div class="col-lg-4 mt-2">
          <input type="text"
            placeholder="Datepicker"
            class="form-control"
            bsDatepicker>
          </div>
        </div>         
      </div>
      <ag-grid-angular
      style="width: 100%; height: 470px"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
    ></ag-grid-angular>
    </tab>
    <tab heading="Asset management">
      
    </tab>
    <tab heading="Basic Title 2">Basic content 2</tab>
  </tabset>
</div>




  